.center-on-mobile-left{
  text-align: left;
}
.center-on-mobile-right{
  text-align: right;
}
.center-align{
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .center-on-mobile-left{
    text-align: center;
  }
  .center-on-mobile-right{
    text-align: center;
  }
}