.small-button {
  padding: 0.4em 0.5em;
}

%uppercase-button-w-icon {
  text-transform: uppercase;
  font-weight: 600;
  div {
    display: inline-block;
  }
  span:after {
    border: none;
    font-family: "foundation-icons";
    font-size: 1rem;
    padding-right: 1rem;
  } 
}

.uppercase-button-w-icon {
  @extend %uppercase-button-w-icon;
  &.facebook {
    background: $facebook-color;
    span {
      background: darken( $facebook-color, 10% );
      &:after { 
        content: "\f1c4";
      }
    }
  }
  &.twitter {
    background: $twitter-color;
    span {
      background: darken( $twitter-color, 10% );
      &:after { 
        content: "\f1e4";
      }
    }
  }
  &.google {
    background: $google-color;
    span {
      background: darken( $google-color, 10% );
      &:after { 
        content: "\f1ca";
      }
    }
  }
  &.pencil {
    background: $primary-color;
    span {
      &:after { 
        content: "\f129";
      }
    }
  }
}