$blue: #00b4e2; //GiftOn Blue from logo
$ultra-light-gray: #f7f7f7;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$midpt-gray: #a3a3a3;//midpt btw vastly different grays on top & bottom
$middark-gray: #7b7b7b; //five tints lighter than GiftOn logo gray
$dark-gray: #4a4a4a; //GiftOn Gray from logo & $body-font-color
$black: #0a0a0a;
$white: #fefefe;
$red: #ff0000;

//social media colors
$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #d50f25;
$pinterest-color: #cb2027;
$instagram-color: #8a3ab9;

//foundation
$foundation-palette: (
  primary: $blue,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

.dark-gray {
  color: $dark-gray;
}