@import url('https://fonts.googleapis.com/css?family=Raleway:600,700');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$header-font-family: 'Raleway', sans-serif;

$icon-font-family: 'Raleway', sans-serif;

$handwritten-font-family: 'Just Another Hand', cursive;