@import 'settings';   //foundation settings
//globals that override foundation settings
@import 'typography';
@import 'alignments';
@import 'icons';
@import 'buttons';
@import 'images';
@import 'forms';
@import 'accordion';
@import 'components/*';

.row {
  max-width: 125rem;//overrides foundation
}
body {
  background-color: $ultra-light-gray;
}
.card {
  padding: 20px;
}
.wrapper {
  position: relative;
  min-height: 100vh;
  margin-top: -55px;
  padding-top: 55px;
}
//grid format
.row.all-stories {
  column-count: 2;
  column-gap: 0;
  margin: 0 -1.875rem;
  >.medium-6 {
    width: 100%;
    padding: 0 1.875rem;
    .card {
      width: 100%;
      display: inline-block;
      margin: 0 0 40px;
    }
  }
}
@media only screen and (max-width: 640px) {
  .card {
    padding: 10px;
  }
  .wrapper {
    margin-top: -75px;
    padding-top: 75px;
  }
  .row.all-stories {
    column-count: 1;
    margin: 0 0.9375rem;
    >.medium-6 {
      padding: 0 0.9375rem;
      .card {
        display: block;
        margin: 0 0 20px;
      }
    }
  }
}