//$global-radius: 4px;

// user thumbnail - rounded square
// user profile - larger size rounded square
// story card image - full width
// media image - dark gray with blue on hover
// image tiles for additional story images

$profile-image-sizes: (
  0: 175px,
  640px: 250px
);
@mixin image-width($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @media screen and (min-width: $fs-breakpoint) {
      max-width: $fs-font-size;
    }
  }
}
@mixin image-height($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @media screen and (min-width: $fs-breakpoint) {
      height: $fs-font-size;
    }
  }
}
%square-thumbnail {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: auto;
  width: auto;
  min-width: 100%;
//  these two classes help when the image is smaller than the containing div, but hurt when the image is larger than the containing div
//  min-height: 100%;
//  max-width: none;
}
%thumbnail-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: $light-gray;
}
%user-thumbnail {
  @extend %thumbnail-container;
  margin-right: 10px;
  border-radius: 5px;
  &.small-thumb {
    height: 30px;  
    width: 30px; 
  }
  &.medium-thumb {
    height: 40px;
    width: 40px;
  }
  &.large-thumb {
    height: 60px;
    width: 60px;
  }
  img {
    @extend %square-thumbnail;
  }
}
.user-thumbnail {
  @extend %user-thumbnail;
}
a.user-thumbnail:hover {
  img {
    filter: brightness(115%);
  }
}
%user-profile {
  @extend %thumbnail-container;
//  width: 250px;
  width: 100%;
  @include image-width($profile-image-sizes);
//  max-width: 250px;
//  height: 250px;
  @include image-height($profile-image-sizes);
  border-radius: 5px;
  img {
    @extend %square-thumbnail;
  }
  a {
    z-index: 4;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    color: rgba(255,255,255,0.75);
  }
}
.user-profile {
  @extend %user-profile;
}
.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  .overlay-container & {
    @include image-height($profile-image-sizes);
//    height: 250px;
//    width: 250px;
    width: 100%;
    @include image-width($profile-image-sizes);
//    max-width: 250px;
    margin: 0 auto;
  }
  a .fa {
    background-color: rgba(0,0,0,0.65);
    padding: 5px 2px 4px;
    border-radius: 5px;
  }
  &:hover a .fa {
    opacity: 0;
    transition: opacity 0.2s linear;
  }
}
.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  padding: 5px;
  a {
    background-color: rgba(255,255,255,0.85)
  }
}
// modifier classes from foundation
.overlay-fade-in {
  p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 28px;
    opacity: 0;
    transition: all 0.2s linear;
  }
  img {
    transition: all 0.2s linear;
  }
  .image-overlay-content {
    opacity: 0;
    background-color: rgba(0,0,0, 0.4);
    transition: all 0.4s ease-in-out;
  }
  h2 {
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 40%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: rgba(0,0,0,0.7);
  }
  .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px; 
    background: #FFF;
    color: #222;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #999;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 0 5px #000;
    }
  }
  &:hover img {
    transform: scale(1.2);
  }
  &:hover .image-overlay-content {
    opacity: 1;
  }
  &:hover h2, p, .button {
    opacity: 1;
  }
  &:hover p {
    transition-delay: 0.1s;
  } 
  &:hover .button {
    transition-delay: 0.2s;
  }
} 
.media-image {
  max-width: 150px;
  -webkit-filter: grayscale(100%) brightness(0.9); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness (0.9);
  transition: all .2s ease-in-out;
  &:hover {
     -webkit-filter: grayscale(100%) brightness(0.6);
    filter: grayscale(100%) brightness (0.6);
  }
}
.story-card-image {
  height: 225px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
a:hover .story-card-image {
  filter: brightness(115%);
}
.column-block .thumbnail {
  border: 0;
  overflow: hidden;
  position: relative;
  height: 100px;
  width: 100%;
  background-color: $light-gray;
  box-shadow: none;
  transition: all .2s ease-in-out;   
  img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    min-width: 100%; 
  }
  &:hover {
    box-shadow: none;
    transform: scale(1.2);
  }
}
//image upload buttons
.image-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.image-input + label {
  font-size: 1.25em;
  color: $blue;
  display: inline-block;
  padding: 40px;
  border: 2px dashed $blue;
  min-width: 190px;
  margin: 10px;
  p {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  cursor: pointer;
}
.image-input:focus + label,
.image-input + label:hover {
  color: darken($blue, 14%);
  border: 2px dashed darken($blue, 14%);
}
.image-input:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.remove_fields {
  display: none;
}
@media only screen and (max-width: 40.063em) {
  .story-card-image {
    height: 175px;
  }
  .column-block .thumbnail {
    height: 125px;
  }
}  