@import url('https://fonts.googleapis.com/css?family=Raleway');
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

//headers
$header-font-family: 'Raleway', sans-serif;
$header-font-weight: 600;
//$header-font-style: normal;

//links
.inactive-link {
  color: $middark-gray;
  &:hover {
    color: lighten($middark-gray, 15%);  
  }
}
%primary-link {
  color: $dark-gray; //same as $topbar-link-color
  &:hover {
    color: lighten($dark-gray, 25%); //same as $topbar-link-color-hover
  }
}
.secondary-link {
  color: $primary-color; //same as $body-font-family$anchor-color
  &:hover {
    color: darken($primary-color, 14%); //same as $anchor-color-hover 
  }
}

//labels
.label {
  background: $ultra-light-gray !important;//overrides foundation setting
}