files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/cronjob.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Using similar syntax as the appdeploy pre hooks that is managed by AWS
      # post deployment scripts should be in "/opt/elasticbeanstalk/hooks/appdeploy/post"
      set -xe

      # Getting EB container variables
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)
      EB_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)

      # Initiate our EB environment variables
      . $EB_SUPPORT_DIR/envvars
      
      #initiate the version of Ruby used by our app which allows to run bundle exec
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      # Change to the app’s root directory on our EB
      cd $EB_DEPLOY_DIR
      
      # Execute the Whenever command to update our crontab
      su -c "bundle exec whenever --update-cron"
      
      # Print updated crontab to our logs (logs/eb-activity.log)
      su -c "crontab -l"

