.user-dashboard {
  border: 1px solid $medium-gray;
}
.name-container {
  text-align: center;
  margin: 15px auto;
} 
#user_registration >.columns:first-child {
  padding: 0;
}
#user_registration {
  >div:first-child {
    margin: 0 auto;
    text-align: center;
  }
}
.about_me_container {
  text-align: center;
  position: relative;
  line-height: 1.5;
  max-width: 250px;
  margin: 0 auto;
  .secondary-icon {
    padding-top: 0;
    padding-right: 0;
  }
  .fa-pencil {
    margin-left: 5px;
  }
  div > div {
    display: inline-block;
  }
  .body {
    padding: 0 25px;
  }
  .edit {
    position: absolute;
    right: 0;
    a {
      vertical-align: middle;
    }
  }
}
@media only screen and (max-width: 1024px) {
  #user_registration {
    >div:first-child {
      display: inline-block;
      width: 250px;
      margin-right: 10px;
    }
    >div:nth-child(2) {
      display: inline-block;
    }
  }
  .about_me_container {
    text-align: left;
    .body {
      padding: 0 20px 0 0;
    }
  }
}
@media only screen and (max-width: 640px) {
  #user_registration {
    >div:first-child {
      display: block;
      width: auto;
      margin: 0 auto;
    }
    >div:nth-child(2) {
      display: block;
    }
  }
  .about_me_container {
    text-align: center;
    .body {
      padding: 0 25px;
    }
  }
}