.featured-prompt {
  h2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .row:first-child {
    background-color: $dark-gray;
    h2 {
      color: $white;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  .prompts {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $light-gray;
    border: 1px solid $medium-gray;
    border-top: 0;
    color: $black;
    &:hover, &:hover h2 {
      color: $primary-color;
    }
    &:hover {
      background-color: $ultra-light-gray;
    }
  }
}