.story-card {
  box-shadow: 1px 1px 2px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 1px 1px 1px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 1 1px 1px rgba(34, 25, 25, 0.4);
  .fa-bookmark-o, .fa-bookmark {
    padding-top: 0;
    line-height: 1;
    padding-left: 25px;
  }
  h2 {
    margin-bottom: 5px;
  }
  .reactions .icon-button {
    vertical-align: top;
    display: inline;
  }
  .last-section {
    padding-top: 30px;
    a {
      line-height: 4rem;
    }
  }
  .body {
    color: $dark-gray;
  }
}