footer {
  margin-top: 20px;
  background-color: $dark-gray;
  padding: 2rem 4rem;
  text-align: center;
  color: $midpt-gray;
  i {
    font-size: 100px;
  }
  a {
    color: $midpt-gray;
    &:hover {
      color: darken($primary-color, 14%);
    }
  }
}
.footer-links {
  list-style-type: none;
  li {
    margin: 1.5rem;
    display: inline-block;
  }
}
@media only screen and (max-width: 640px) {
  footer {
  }
}
