footer {
  background-color: $dark-gray;
  padding: 2rem 4rem;
  text-align: center;
  color: $medium-gray;
  i {
    font-size: 100px;
  }
  a {
    color: $light-gray;
    &:hover {
      color: $medium-gray;
    }
  }
}
.footer-links {
  list-style-type: none;
  li {
    margin: 1.5rem;
    display: inline-block;
  }
}
@media only screen and (max-width: 640px) {
.footer {
  .columns:nth-child(n+2) {
//    border-left: 1px solid scale-color($white, $lightness: -30%);
  }
 }
}
