//style for text box when users choose "other" radio button
#free_system_input {
  display: none;
}

//style for rich text editor
trix-toolbar .button_row {
  justify-content: flex-start;
  display: inline-block;
  margin-bottom: 5px;
  span {
    display: inline-block;
  }
  .button_group {
    margin-bottom: 0;
  }
  button.code {
    display: none;
  }
  button.nesting-level.increase {
    display: none;
  }
  button.nesting-level.decrease {
    display: none;
  }
  button.quote {
    display: none;
  }
  button.link {
    display: none;
  }
}
trix-toolbar .button_group button {
//  border: 1px solid red;
}

//general override Foundation
.button {
  margin: 0;
}

//general styles
.inline-block {
  display: inline-block !important;
}
.no_pad {
  padding: 0 !important;
}
.center {
  text-align: center;
}
.rightalgn {
  text-align: right;
}
.visible {
  display: block !important;
}