/render partial: 'shared/notification_partial_email', locals: { my_message: my_message[index], time: time_ago_in_words(@noti.created_at), read: read_boolean}
.tr[id="noti_id_#{my_message["message_id"][0]}"]
  .td[id="#{my_message["message_id"]}" style="padding: 20px; border-bottom: 1px solid #e6e6e6"]
      == my_message["message"]
