//colors

$foundation-palette: (
  primary: #00b4e2, //GiftOn Blue from logo
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #4a4a4a; //GiftOn Gray from logo
$black: #0a0a0a;
$white: #fefefe;
$body-background: $white;
$body-font-color: $black;