$('.row.all-stories').after("<div class='row all-stories'></div>");
console.log("<%= @stories.count %>");
<% @stories.each do |s| %>
  $('.row.all-stories:last').append("<%=  j render(:partial => 'shared/story_card', :locals => {story: s, admin_view: admin_view, preview: preview}) %>");
<% end %>