.db-empty { 
  max-width: 510px;
  margin: 0 auto;
  h2 {
    margin: 20px 0;
    color: $middark-gray;
    &.long {
      margin-bottom: 40px;
    }
  }
  p {
    margin-bottom: 40px;
    color: $dark-gray;
  }
  span.text {
    color: $dark-gray;
  }
  .fa.gray {
    color: $middark-gray;
  }
  .featured-container {
    background-color: white;
    padding: 20px 0 10px;
    border: 1px solid $light-gray;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .small-icon .circle-text.fa-stack-1x {
    width: 2.8rem;
    height: 2.8rem;
  }
  .circle-text.open {
    color: $middark-gray;
    background: transparent;
    border-color: $middark-gray;
    top: 0;
  }
  .fa-lg {
    font-size: 2.7rem;
  }
  img.empty {
    margin: 40px auto; 
  }
}
.db-empty-container {
  background-color: $light-gray;
  padding: 20px;
  margin-bottom: 20px;
}