.sticky {
  width: 100%;
}
#navbar-tier2, #navbar-tier2B {
  display: inline-block;
}
#navbar-tier2 h6, #navbar-tier2B h6 {
  text-transform: uppercase;
  border-right: 2px solid $dark-gray;
  display: inline-block;
  padding-right: 15px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 15px;
}
#navbar-tier2B h6 {
  margin-left: 30px;
}
#navbar-tier2 a.btn-link, #navbar-tier2B a.btn-link {
  padding-right: 0;
  color: $topbar-link-color;
  border-bottom: 2px solid transparent;
}
#navbar-tier2 a.btn-link:hover, #navbar-tier2B a.btn-link:hover {
  color: $topbar-link-color-hover;
  border-bottom: 2px solid $topbar-link-color-hover;
}
#navbar-tier2 .btn-link i, #navbar-tier2B .btn-link i {
  vertical-align: baseline;
  color: $primary-color;
} 
#navbar-tier2 a.btn-link:hover i, #navbar-tier2B a.btn-link:hover i {
  color: scale-color($primary-color, $lightness: -15%);
}
#navbar-tier2 a.btn-link.btn-right:hover, #navbar-tier2B a.btn-link.btn-right:hover {
  border-bottom: 2px solid transparent;
}

#navbar-tier2 a.btn-link.btn-right.fail, #navbar-tier2B a.btn-link.btn-right.fail {
  color: $primary-color;
  font-weight: 500;
}
#navbar-tier2 a.btn-link.btn-right.fail:hover, #navbar-tier2B a.btn-link.btn-right.fail:hover {
  color: scale-color($primary-color, $lightness: -15%);
}
#tags-menu {
  padding: 0.3rem 0 0;
  border-bottom: 1px solid $medium-gray;
  border-bottom-style: inset;
  border-width: 1px;
  background-color: $ultra-light-gray;
  -webkit-box-shadow: inset 0px 5px 10px -7px $dark-gray;
  -moz-box-shadow: inset 0px 5px 10px -7px $dark-gray;
  box-shadow: inset 0px 5px 10px -7px $dark-gray;
  max-width: none;
}
#tags-menu > .columns {
  width: auto;
}
#tags-menu .is-dropdown-submenu {
  padding: 15px 10px;;
}
#tags-menu .occasion {
  min-width: 500px;
}
#tags-menu .relationship, #tags-menu .interests {
  min-width: 300px;
}
#tags-menu .type {
  min-width: 400px;
}
#navbar-tier2 ul .columns {
  font-size: 90%;
  padding: 0 5px;
}
#navbar-tier2 .list-header {
  text-transform: uppercase;
  font-weight: 500;
}
#navbar-tier2 ul .row {
  margin: 0;
}
nav .top-bar.row {
  padding-bottom: 0;
  max-width: none;
  border-bottom: 1px solid $medium-gray;
  border-bottom-style: inset;
  border-width: 1px;
}
.top-bar img {
  max-height: 40px;
}
.top-bar .menu-text {
  text-transform: uppercase;
  vertical-align: bottom;
  padding-bottom: 0;
}
.top-bar .menu-text:hover {
  color: $primary-color;
}
.top-bar ul>.menu-text {
  border-bottom: 3px solid transparent;
  padding: 0 0 5px 0;
}
.top-bar ul>.menu-text.active {
  border-bottom: 3px solid $primary-color;
}
.top-bar .menu-text .menu-text.active {
  color: $primary-color;
}
.top-bar .menu-text .menu-text.active:hover {
  color: scale-color($primary-color, $lightness: -15%);
}
.top-bar a.button {
  @extend .small-button;
}
.top-bar.row > div {
  position: relative;
}
.top-bar.row > div ul {
  display: inline-block;
}
.top-bar .menu-right {
  position: absolute; 
  bottom: 8px; 
  right: 0;
}
.top-bar .menu-right > a{
  vertical-align: bottom;
  padding-right: 0.5em; 
  position: relative; 
//  top: 0.25em; 
  font-size: 90%;
}
.top-bar .menu-right > div {
  display: inline-block;
}
.gifton_logo {
  padding-bottom: 5px;
}
nav .menu .active > a {
  background-color: transparent;
}
@media only screen and (max-width: 40.063em) {
  nav .top-bar.row {
    border-bottom: none;
  }
  #navbar-tier2, #navbar-tier2B {
    display: block;
  }
  #navbar-tier2 h6, #navbar-tier2B h6 {
    border-right: none;
    margin-left: 15px;
  }
  #search_dropdown_mobile {
    display: none;
  }
  #tags-menu > .columns {
    width: 100%;
  }
  #tags-menu .occasion, #tags-menu .relationship, #tags-menu .type, #tags-menu .interests {
    min-width: auto;
  }
  #tags-menu .is-drilldown li.hide-for-small-only {
    display: none !important;
  }
  #tags-menu > .columns:nth-child(2) .is-drilldown {
    height: 550px;
  }
  .top-bar img {
    max-height: 30px;
  }
  #navbar-tier2 ul .columns {
    font-size: 100%;
    padding: 0 5px;
  }
  #navbar-tier2 a.btn-link, #navbar-tier2B a.btn-link {
    border-bottom: none;
  }
  #navbar-tier2 a.btn-link:hover, #navbar-tier2B a.btn-link:hover, #navbar-tier2 a.btn-link:focus, #navbar-tier2B a.btn-link:focus {
    color: $topbar-link-color-hover;
    border-bottom: none;
  }
  .top-bar.center input {
    max-width: none;
  }
  .top-bar.center .input-group-field {
    margin-left: 1rem;
  }
  .top-bar.center .input-group {
    margin-top: 1rem;
  }
  .top-bar.center > div:first-child {
    border-bottom: 1px solid $medium-gray;
    border-bottom-style: inset;
    border-width: 1px;
  }
  .top-bar.center {
    padding: 0;
  }
  .top-bar.center .row.visible {
    background-color: $ultra-light-gray;
    border-bottom: 1px solid $medium-gray;
    border-bottom-style: inset;
    border-width: 1px;
  }
  .top-bar.center .columns {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid transparent;
  }
  .top-bar.center div.active {
    border-bottom: 3px solid $primary-color;
  }
  .top-bar.center div .active {
    color: $primary-color;
  }
  .top-bar.center div .active {
    color: scale-color($primary-color, $lightness: -15%);
  }
}
