.thank-you {
  height: 350px;
  width: 100%;
  background-color: $primary-color;
  margin-bottom: 50px;
  margin-top: -8px;//adjustment for navbar
  position: relative;
  &:after {
    content: '';
    left: 50%;
    top: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: $primary-color;
    border-width: 40px;
    margin-left: -40px;
  }
  h1 {
    color: white;
    padding: 40px
  }
}