.show-story {
    &.card {
      padding: 40px;
      margin: 0 10px 20px 20px;
    }
  .card-divider {
    background: $dark-gray;
    h2 {
      color: $ultra-light-gray;  
      padding: 20px 0 30px;
    }
    padding-bottom: 30px;
    border-radius: 5px;
  }
  .what-reaction {
    padding: 20px 40px;
    margin: 20px 0;
    border: 1px solid $dark-gray;
    border-radius: 5px;
    min-height: 90px;
    div {
      display: inline-block;
    }
    h2 {
      padding-top: 10px;
      color: $dark-gray;
      display: inline-block;
    }
    .reactions {
      float: right;
    }
  }
}
.comments-container {
  margin: 0 20px 10px 20px;
}
@media only screen and (max-width: 1024px) {
  .show-story {
    .what-reaction {
      padding: 20px;
      h2 {
        
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .show-story {
    &.card {
      padding: 20px 10px;
      margin: 0;
      margin-bottom: 20px;
    }
    .what-reaction {
      text-align: center;
      div {
        display: block;
      }
      h2 {
        margin-bottom: 20px;
      }
      .reactions {
        float: none;
      }
    }
  }
}