//globals
@import 'globals/colors';
@import 'foundation';

.header-nav {
  border: 1px solid $light-gray;
  border-left: 0;
  background-color: $white;
  margin-left: -1.875rem;
  padding-left: 1.875rem;
  padding-right: 0.9375rem;
  >div {
    display: inline-block;
  }
  >div:first-child {
    width: calc(100% - 155px);
  }
  >div:nth-child(2) {
    .fa-pencil {
      margin-top: 0;
    }
    .button-w-icon {
      padding-bottom: 0;
    }
  }
  .count div {//styles numbers inside divs with dynamic ids
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header-nav  {
    margin-right: -0.9375rem;
    border-right: 0;
  }
}
@media only screen and (max-width: 640px) {
  .header-nav {
    margin: 0;
    border: 1px solid $light-gray;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    >div {
      display: block;
    }
    >div:first-child {
      width: auto;
    }
    >div:nth-child(2) {
      display: inline-block;
      margin-bottom: 1.25rem;
      .fa-pencil {
        margin-top: 4.5px;
      }
      .button-w-icon {
        padding-bottom: 4.5px;
      }
    }
  }
}
#go-to-top {
  .fa-circle {
    text-shadow: 1px 0px 4px $black;
  }
  position: fixed;
  top: 10px; 
  right: 10px;
  display: none;
}