//globals
@import 'globals/colors';
@import 'modules/pictures_lightbox.scss';
@import 'modules/story_show.scss';
@import 'modules/story_new.scss';

//story index view
.index_subinfo {
  display: inline-block;
  width: calc(100% - 155px);
}
.index_story_share {
  display: inline-block;
  vertical-align: top;
}
.row .row.columns.index_sidebar {
  background-color: $white;
  padding: 20px 10px;
  border: 1px solid $light-gray;
}
@media only screen and (max-width: 640px) {
  //story index view
  .index_subinfo {
    display: block;
    text-align: center;
    width: auto;
  }
  .index_story_share {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .index_sidebar {
    margin-bottom: 10px;
  }
}