//globals
@import 'globals/colors';

//story index view
.index_subinfo {
  display: inline-block;
  width: calc(100% - 155px);
}
.index_story_share {
  display: inline-block;
  vertical-align: top;
}
//story new view
.new-story-intro .large-9 {
  position: relative;
  &>div {
    position: absolute;
    bottom: 40%;
  }
}
//story form {
.story-form {
  h2 {
    display: inline-block;
    & label {
      font-size: inherit;
    }
  }
  .subtext {
    display: inline-block;
  }
  trix-editor.body {
    height: 200px;
  }
  .card-section {
    padding-top: 30px;
    padding-bottom: 30px;
    &:last-child {
      padding-bottom: 10px;
    }
    &:first-child {
      padding-top: 10px;
    }
  }
  .subtext {
    color: $middark-gray;
  }
  .links {
    display: none;
  }
}
.form-sidebar {
  background-color: $light-gray;
  h2 {
    margin: 20px 0;
    color: $middark-gray;
  }
}
//dummy css as an example of how to target trix editor buttons
trix-toolbar .button_group button {
//  border: 1px solid red;
}
trix-editor {
  overflow: scroll;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1024px) {
  .new-story-intro .large-9 {
    position: static;
    &>div {
      position: static;
      margin: 20px auto;
    }
  }
}
@media only screen and (max-width: 640px) {
  //story index view
  .index_subinfo {
    display: block;
    text-align: center;
    width: auto;
  }
  .index_story_share {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
}